.order-page {
    font-family: 'Roboto', sans-serif;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
}

.order-page h1 {
    font-size: 3rem;
    text-align: center;
    margin: 1rem;
}

.order-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 1rem;
    padding: 1rem;
    border: 1px solid black;
    border-radius: 1rem;
}